<div class="container">
	<section>
		<ul id="da-thumbs" class="da-thumbs">
			<li>
				<a href="#second/primo/secondo">
					<img src="lib/hoverdir/images/1.jpg" />
					<div><span>Menu by Simon Jensen</span></div>
				</a>
			</li>
			<li>
				<a style="cursor: pointer;" onmousedown="CL.app.getController('C_collection').onCreate(this)">
					<img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/128/arrow-upload-icon.png" width="280px" height="209"/>
					<div><span>Carica e condividi i tuoi files!</span></div>
				</a>
			</li>
			<li>
				<a href="http://dribbble.com/shots/504197-Mr-Crabs">
					<img src="lib/hoverdir/images/3.jpg" />
					<div><span>Mr. Crabs by John Generalov</span></div>
				</a>
			</li>
			<li>
				<a href="http://dribbble.com/shots/503731-Gallery-of-Mo-2-Mo-logo">
					<img src="lib/hoverdir/images/4.jpg" />
					<div><span>Gallery of Mo 2.Mo logo by Adam Campion</span></div>
				</a>
			</li>
			<li>	
				<a href="http://dribbble.com/shots/503058-Ice-Cream-nom-nom">
					<img src="lib/hoverdir/images/5.jpg" />
					<div><span>Ice Cream - nom nom by Eight Hour Day</span></div>
				</a>
			</li>
			<li>
				<a href="http://dribbble.com/shots/502927-My-Muse">
					<img src="lib/hoverdir/images/6.jpg" />
					<div><span>My Muse by Zachary Horst</span></div>
				</a>
			</li>	
		</ul>
	</section>
</div>