
<div class="banner">
    <ul>
        <li style="background-image: url(images/unslider/1.jpg); background-size: 960px 470px;">
            <div style="background: rgba(51,51,51,0.7); height: 250px; position: relative; top: 84px;">
                <h2>I felini conquistano il mondo!</h2>
                <h3>
                    Tante belle parole a caso per vedere se tutto funziona come dovrebbe qui<BR/>
                    Tante belle parole a caso per vedere se tutto funziona come dovrebbe qui<BR/>
                    Tante belle parole a caso per vedere se tutto funziona come dovrebbe qui<BR/>
                </h3>
                <a class="btn" href="#second/asd/lol">Leggi</a>                
            </div>
        </li>

        <li style="background-image: url(images/unslider/2.jpg); background-size: 960px 470px;">
            <div style="background: rgba(51,51,51,0.7); height: 250px; position: relative; top: 84px;">
                <h2>Titolo slide 1</h2>
                <h3>
                    Tante belle parole a caso per vedere se tutto funziona come dovrebbe qui<BR/>
                    Tante belle parole a caso per vedere se tutto funziona come dovrebbe qui<BR/>
                </h3>
                <a class="btn" href="#second/asd/lol">Download</a>
            </div>
        </li>

        <li style="background-image: url(images/unslider/3.jpg); background-size: 960px 470px;">
            <div style="background: rgba(51,51,51,0.7); height: 250px; position: relative; top: 84px;">
                <h2>Titolo slide 1</h2>
                <h3>sottotitolo</h3>
                <a class="btn" href="#second/asd/lol">Download</a>
            </div>
        </li>
    </ul>
</div>